<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Page </title>
</head>
<body>
    <div>
        <a href="/">Back Home</a>
    </div>
    <section>

        <p> David Eric Grohl (Warren, Ohio, 14 de enero de 1969) es un músico multiinstrumentista estadounidense de rock. 
            Saltó a la fama a comienzos de los años 1990 como batería de la icónica banda de grunge Nirvana. 
            En 1994, tras la muerte de Cobain y el fin de Nirvana, formó otra banda, Foo Fighters, siendo él en un principio el único miembro y más tarde el vocalista, guitarrista y compositor. </p>
            
            <img src="/dg.jpg">
        </section>

</body>
</html>