<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> About Page </title>
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="wrap">

    <img class="background" src="/wembley.jpg">

    <div class="content">
        <a href="/">Back Home</a>
    
        <section>

        <p> David Eric Grohl (Warren, Ohio, 14 de enero de 1969) es un músico multiinstrumentista estadounidense de rock. 
            Saltó a la fama a comienzos de los años 1990 como batería de la icónica banda de grunge Nirvana. 
            En 1994, tras la muerte de Cobain y el fin de Nirvana, formó otra banda, Foo Fighters, siendo él en un principio el único miembro y más tarde el vocalista, guitarrista y compositor.
        </p>
        
        <p> Grohl empezó su carrera musical en los años 1980 como batería para varias bandas de Washington D. C., de las cuales la más destacada fue Scream. 
            Más tarde se instaló como batería de Nirvana. En 2004 editó un disco bajo el nombre de Probot, en el cual colaboraban sus cantantes de heavy metal favoritos. 
            También ha destacado siendo uno de los miembros principales de Queens of the Stone Age, Garbage, Tenacious D, Killing Joke y Juliette and the Licks.

            La revista Rolling Stone lo situó en el puesto n.° 27 en su lista de los «100 mejores baterías de todos los tiempos».
            
            Actualmente reside en Encino (California) en donde convive con su esposa Jordyn Blum y sus hijas.
        </p>
        
            

        <img src="/FooFighters.jpg">

        </section>
    </div>
</body>
</html>